@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-image: url('./background.png');
  background-size: cover;
  background-position: center;
  font-family: "Roboto";
  font-size: 12px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  width: 100%;
  line-height: 8rem;
  margin-top: auto;
  margin-bottom: 50px;
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: 0.5rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.8);
}

.keys {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 500px;
}

.key {
  width: 10rem;
  padding: 1rem .5rem;
  background: rgba(0,0,0,0.5);
  font-size: 1.5rem;
  text-align: center;
  color: white;
  text-shadow: 0 0 .5rem black;
  border: .5rem solid black;
  border-radius: .5rem;
  user-select: none;
  transition: all .08s ease;
}

.key:hover {
  cursor: pointer;
}

.playing {
  transform: scale(1.2);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}

footer {
  align-self: flex-end;
  width: 100%;
  margin-top: auto;
  line-height: 3rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.8);
}

@media (max-width: 400px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 340px) {
  html {
    font-size: 8px;
  }
}